In [25]:
# Hey there, buddy. There is nothing here analised. However, I am glad I made it this far :)
# Great talks, great challenges. Hope you had a blast as well. Keep up the good work!

import pandas as pd
df = pd.read_csv('./EURGBP.csv', header=0)
data = pd.DataFrame(df)
print(data.dtypes)
data

Date           object
Open          float64
High          float64
Low           float64
Close         float64
rsi            object
ema_fast       object
ema_slow       object
volatility     object
target          int64
dtype: object

,Date,Open,High,Low,Close,rsi,ema_fast,ema_slow,volatility,target
0,2000-01-03,6.281,633.000,6.235,6.272,NaN,NaN,NaN,NaN,0
1,2000-01-10,6.271,629.000,6.181,6.197,NaN,NaN,NaN,NaN,0
2,2000-01-17,0.620,6.225,6.072,609.000,NaN,NaN,NaN,NaN,1
3,2000-01-24,6.091,61.271,599.000,6.027,NaN,NaN,NaN,NaN,1
4,2000-01-31,6.021,6.267,598.000,6.158,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
1030,2019-09-30,89.002,89.365,88.333,88.779,4.715.189.743.724.470,8.957.606.852.099.320,8.891.082.089.974.560,15.646.245.267.151.200,0
1031,2019-10-07,8.905,90.183,86.835,86.835,37.551.961.310.985.400,8.921.059.271.819.410,8.881.427.109.045.510,17.607.905.067.444.300,0
1032,2019-10-14,87.443,88.081,85.808,86.451,3.599.309.796.592.650,8.884.264.702.243.490,8.870.435.150.485.250,18.300.847.280.052.800,0
1033,2019-10-21,86.453,86.687,8.577,8.638,35.698.023.655.331.200,8.851.429.408.611.020,8.859.624.213.253.380,17.765.889.199.469.100,0
1034,2019-10-28,8.639,8.652,85.958,8.628,35.259.578.152.967.400,8.821.638.820.796.220,8.848.850.994.032.290,16.981.279.900.698.600,0

In [17]:
#Let's check if there are empty values
data.isnull().any().any()
#True

#Let's check which variables do have empty values
data.isnull().any()

# rsi            True
# ema_fast       True
# ema_slow       True
# volatility     True

Date          False
Open          False
High          False
Low           False
Close         False
rsi            True
ema_fast       True
ema_slow       True
volatility     True
target        False
dtype: bool

In [18]:
# Grouping columns by type
types = data.columns.to_series().groupby(data.dtypes).groups
print(tipes)

{int64: ['target'], float64: ['Open', 'High', 'Low', 'Close'], object: ['Date', 'rsi', 'ema_fast', 'ema_slow', 'volatility']}

In [23]:
# Percentage of targets in total
percent_target = (data[data.target 
                             > 0]['target'].count() * 1
       / data['target'].count()) * 100
print("The Percentage of Targets over the whole data set is {0:.2f}%"
      .format(percent_target))

The Percentage of Targets over the whole data set is 50.34%

In [32]:
import matplotlib.pyplot as plt
# Visualization of targets over total

targets = data.iloc[x,10]

targets

# targets = data.groupby('target').count()
# print(targets)

# # Graph legend
# labels = [ 'Target\n']
# labels[0] = 'No ' + labels[0]

# plt.pie(targets, labels=labels)
# plt.title('Portion of targets')
# plt.show()

NameError: name 'x' is not defined